.urlLink {
    /* color:white; */
    font-weight: bolder;
    font-family: 'Great Vibes', cursive; 
    font-family: 'Berkshire Swash', cursive; 
    font-size:25px;
}

.test {
    color:red;
}

.floatRight {
    float:right;
}

.componentStyle {
    background-color:#212529;
}

a{
    color:grey;
    text-decoration: none;
}
a:hover{
    color: gainsboro;
}

