.body{
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdavOgijek2257styjqDW6AoApcxMaZE_CLk5rng_mRZ55nan_qQ);
    background-repeat:no-repeat;
    background-size:cover;
}